<div class="container">
  <div class="auth-form">
    <form [formGroup]="authForm">
      <h2>Forgot Password</h2>

      <mat-form-field appearance="fill" class="auth-form-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          formControlName="email"
          autocomplete="off"
          class="auth-input-text"
        />
        <mat-error *ngIf="email!.errors">Email is required</mat-error>
      </mat-form-field>

      <div>
        <button
          mat-stroked-button
          *ngIf="authForm.invalid"
          color="primary"
          class="auth-submit-button"
        >
          Send Passsword Reset Email
        </button>
        <button
          mat-raised-button
          *ngIf="authForm.valid"
          color="primary"
          class="auth-submit-button"
          (click)="onSubmit()"
        >
          Send Passsword Reset Email
        </button>
      </div>

    </form>
  </div>
</div>
