<div class="form-header">
  <h2 class="form-title">Forgot Password</h2>
  <button
    mat-icon-button (click)="onClose()" class="form-close-button" tabindex="-1"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="authForm">

  <mat-form-field appearance="fill" class="auth-form-field">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="text"
      formControlName="email"
      autocomplete="off"
      class="auth-input-text"
    />
    <mat-error *ngIf="email!.errors">Email is required</mat-error>
  </mat-form-field>

  <div>
    <button
      mat-stroked-button
      *ngIf="authForm.invalid"
      color="primary"
      class="auth-submit-button"
    >
      Send Passsword Reset Email
    </button>
    <button
      mat-raised-button
      *ngIf="authForm.valid"
      color="primary"
      class="auth-submit-button"
      (click)="onSubmit()"
    >
      Send Passsword Reset Email
    </button>
  </div>

</form>
