<div class="container">
  <div class="signin-form">
    <h2>Sign In</h2>
    <mat-form-field appearance="fill" class="auth-input">
      <mat-label>Email</mat-label>
      <input matInput type="text" #email autocomplete="off" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="auth-input">
      <mat-label>Password</mat-label>
      <input
        matInput
          [type]="passwordVisibility.property"
        #password
        autocomplete="off"
      />
      <mat-icon
        matSuffix
        (click)="passwordVisibility = toggleVisibility(passwordVisibility)"
        >{{ passwordVisibility.icon }}</mat-icon
      >
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        color="primary"
        class="auth-signin-button"
        (click)="onSignin(email.value, password.value)"
      >
        Sign in
      </button>
    </div>
    <div class="forgot-link-container">
      or<a routerLink="forgot-password" routerLinkActive="active" class="links"
        >Forgot Password</a
      >
    </div>
    <div class="create-link-container">
      Don't have an account?<a
        routerLink="sign-up"
        routerLinkActive="active"
        class="links"
        >Sign Up</a
      >
    </div>
  </div>
</div>
