<div class="container">
  <div class="auth-form">
    <form [formGroup]="authForm">
      <h2>Create Account</h2>

      <mat-form-field appearance="fill" class="auth-form-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          formControlName="email"
          autocomplete="off"
          class="auth-input-text"
        />
        <mat-error *ngIf="email!.errors">Email is required</mat-error>
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill" class="auth-form-field">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="passwordVisibility.property"
          formControlName="password"
          autocomplete="off"
          class="auth-input-text"
        />
        <mat-icon
          matSuffix
          color="primary"
          (click)="passwordVisibility = toggleVisibility(passwordVisibility)"
          >{{ passwordVisibility.icon }}</mat-icon
        >
        <mat-error *ngIf="password!.errors">{{
          getPasswordErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <div>
        <button
          mat-stroked-button
          *ngIf="authForm.invalid"
          color="primary"
          class="auth-submit-button"
        >
          Create Account
        </button>
        <button
          mat-raised-button
          *ngIf="authForm.valid"
          color="primary"
          class="auth-submit-button"
          (click)="onSubmit()"
        >
          Create Account
        </button>
      </div>

      <div class="auth-links-container">
        Already have an account?<a routerLink="/signin" routerLinkActive="active" class="auth-links"
          >Sign In</a
        >
      </div>

    </form>
  </div>
</div>
